### Class 4 - Network Design
RSM-8423, Winter 2023

### Modules

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pulp

from scipy import stats

# Initialize seaborn (for plotting)
sns.set()

### Loading and inspecting data

The same as in Class 4

In [3]:
# Depots
dfDepots = pd.read_csv("depots.csv", index_col=0)
dfDepots

        Cost  Capacity
Depot
1      14754       120
2      15814       140
3       9200        20
4      15870       120

In [4]:
# Demand Zones
dfZones = pd.read_csv("zones.csv", index_col=0)
dfZones

             Demand
Demand Zone
1                82
2                41
3                94

In [5]:
# Zone-depot costs
dfZoneDepot = pd.read_csv("zone_depot_costs.csv")
dfZoneDepot

    Demand Zone  Depot  Cost
0             1      1  1998
1             2      1  1470
2             3      1  1993
3             1      2  1187
4             2      2  1217
5             3      2  1510
6             1      3  1005
7             2      3  1734
8             3      3  1100
9             1      4  1416
10            2      4  1377
11            3      4  1890

### Sets

In [6]:
# Depots
depots = list(dfDepots.index)
numdepots = len(depots)

# Demand zones
zones = list(dfZoneDepot["Demand Zone"].unique())
numzones = len(zones)

### Parameters

In [7]:
# Demand in each zone (dictionary)
zonedemand = {}
for j in zones:    
    zonedemand[j] = float(dfZones.loc[j]["Demand"])

# Depot capacities (dictionary)
depotcapacity = {}
for i in depots:
    depotcapacity[i] = int(dfDepots.loc[i]["Capacity"])

# Depot costs (dictionary)
depotcost = {}
for i in depots:
    depotcost[i] = float(dfDepots.loc[i]["Cost"])
    
# Depot-zone costs (dictionary)
depotzonecost = {}
for i in depots:
    for j in zones:
        depotzonecost[(i,j)] = float(dfZoneDepot[(dfZoneDepot["Depot"] == i)&(dfZoneDepot["Demand Zone"] == j)]["Cost"])

### Variables

In [8]:
# Variables: if a depot is opened/allocated
yvar = pulp.LpVariable.dict("y", depots, cat=pulp.LpBinary)

# Variables: amount of demand from each zone allocated to depot, per scenario
xvar = pulp.LpVariable.dict("x", (depots, zones), lowBound=0.0, cat=pulp.LpContinuous)

### Model initialization

In [9]:
# Initialize model and objective sense
locationModel = pulp.LpProblem(name="LocationModel", sense=pulp.LpMinimize)

### Constraints

In [10]:
# Contraint: demand must be satisfied in all scenarios
for j in zones:
    locationModel += pulp.lpSum( [xvar[(i,j)] for i in depots] ) == zonedemand[j]

# Constraint: depot capacities must be observed in all scenarios
for i in depots:        
    locationModel += pulp.lpSum( [xvar[(i,j)] for j in zones] ) <= depotcapacity[i] * yvar[i]

### Objective function

In [11]:
# Objective function

# --- depot allocation costs
obj = pulp.lpSum([ depotcost[i] * yvar[i] for i in depots])

# --- package flow costs
obj += pulp.lpSum( [ depotzonecost[(i,j)] * xvar[(i,j)] for i in depots for j in zones ] )

# add objective to model
locationModel += obj

### Solution process

In [12]:
# Write LP to file (optional, but often good to inspect model and find errors)
locationModel.writeLP("locationModel.lp")

# Solve model
locationModel.solve()
print("Status:", pulp.LpStatus[locationModel.status])

Status: Optimal

In [12]:
# Total cost
totalCost = pulp.value(locationModel.objective)
print("Total cost: " + str(totalCost))

Total cost: 332079.0

In [13]:
# Print solution (you can add to the dataframe if needed)
for i in depots:
    if yvar[i].varValue >= 1.0:
        print("Depot " + str(i) + " is opened")                            
        for j in zones:
            if xvar[(i,j)].varValue > 0.0:
                print("\t\tServes zone " + str(j) + " - with capacity " + str(xvar[(i,j)].varValue))

Depot 2 is opened
		Serves zone 1 - with capacity 66.0
		Serves zone 3 - with capacity 74.0
Depot 3 is opened
		Serves zone 3 - with capacity 20.0
Depot 4 is opened
		Serves zone 1 - with capacity 16.0
		Serves zone 2 - with capacity 41.0